In [2]:
import pandas as pd
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
# print(train.info())
# print(test.info())
test.shape

(418, 11)

In [3]:
#Use the Regular Expression to get the title from the name field.
import re
pattern = re.compile(r'.*?,(.*?)\.')
def getTitle(x):
    result = pattern.search(x)
    if result:
        return result.group(1).strip()
    else:
        return ''

train['Title'] = train['Name'].map(getTitle)
test['Title'] = test['Name'].map(getTitle)

# print('*' * 20, 'number of data is not null')
# print(train['Title'][train['Age']>0].value_counts())
# print('=' * 20, 'number of data is null')

# #Check how many rows missing the Age by Title
# print(train['Title'][train['Age'].isnull()].value_counts())
# print(test['Title'][test['Age'].isnull()].value_counts())


#Set the missing Age of Title 'Master' 
master_age_mean = train['Age'][(train['Title']=='Master')&(train['Age']>0)].mean()

# Debug - how to get the index and the colum on that index.
# print('*' * 20)
# print(train.loc[train[(train['Title']=='Master')&(train['Age'].isnull())].index])
# print(train.loc[train[(train['Title']=='Master')&(train['Age'].isnull())].index, 'Age'])

train.loc[train[(train['Title']=='Master')&(train['Age'].isnull())].index, 'Age'] = master_age_mean
test.loc[test[(test['Title']=='Master')&(test['Age'].isnull())].index, 'Age'] = master_age_mean

#Set the missing Age of Title 'Mr' 
mr_age_mean = train['Age'][(train['Title']=='Mr')&(train['Age']>0)].mean()
train.loc[train[(train['Title']=='Mr')&(train['Age'].isnull())].index, 'Age'] = mr_age_mean
test.loc[test[(test['Title']=='Mr')&(test['Age'].isnull())].index, 'Age'] = mr_age_mean

#Set the missing Age of Title 'Miss' or 'Ms'
miss_age_mean = train['Age'][(train['Title']=='Miss')&(train['Age']>0)].mean()
train.loc[train[(train['Title']=='Miss')&(train['Age'].isnull())].index, 'Age'] = miss_age_mean
test.loc[test[((test['Title']=='Miss')|(test['Title']=='Ms'))&(test['Age'].isnull())].index, 'Age'] = miss_age_mean

#Set the missing Age of Title 'Mrs' 
mrs_age_mean = train['Age'][(train['Title']=='Mrs')&(train['Age']>0)].mean()
train.loc[train[(train['Title']=='Mrs')&(train['Age'].isnull())].index, 'Age'] = mrs_age_mean
test.loc[test[(test['Title']=='Mrs')&(test['Age'].isnull())].index, 'Age'] = mrs_age_mean

#Set the missing Age of Title 'Dr' 
dr_age_mean = train['Age'][(train['Title']=='Dr')&(train['Age']>0)].mean()
train.loc[train[(train['Title']=='Dr')&(train['Age'].isnull())].index, 'Age'] = dr_age_mean
test.loc[test[(test['Title']=='Mrs')&(test['Age'].isnull())].index, 'Age'] = dr_age_mean

# print(train['Age'].describe())
# print(test['Age'].describe())
print(train.shape)
train.head(3)

(891, 13)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss

In [4]:
train['Age'].isnull().sum()

0

In [5]:
pd.unique(train['Title'])
# type(train)

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'the Countess',
       'Jonkheer'], dtype=object)

In [6]:
train = train.drop(['Name','PassengerId'], 1) # 1 for column and 0 for row

In [7]:
combine = [train, test]
for train in combine: 
    train['Title'] = train['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    train['Title'] = train['Title'].replace('Mlle', 'Miss')
    train['Title'] = train['Title'].replace('Ms', 'Miss')
    train['Title'] = train['Title'].replace('Mme', 'Mrs')
    
combine[0].head(3)
# pd.unique(train['Title'])

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss

In [8]:
train.Cabin.isnull().sum()
# pd.unique(train.Cabin)

327

In [9]:
for train in combine: 
    train['Cabin'] = train['Cabin'].fillna("XX");
    train['Cabin'].replace('A.*', "A", regex=True, inplace=True)
    train['Cabin'].replace('B.*', "B", regex=True, inplace=True)
    train['Cabin'].replace('C.*', "C", regex=True, inplace=True)
    train['Cabin'].replace('D.*', "D", regex=True, inplace=True)
    train['Cabin'].replace('E.*', "E", regex=True, inplace=True)
    train['Cabin'].replace('F.*', "F", regex=True, inplace=True)
    
combine[0].head(3)

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,0,3,male,22.0,1,0,A/5 21171,7.2500,XX,S,Mr
1,1,1,female,38.0,1,0,PC 17599,71.2833,C,C,Mrs
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,XX,S,Miss

In [10]:
for dataset in combine:
   dataset.rename(columns={"Fare":"Spending", "Survived":"Involoved", "Cabin":"Product",\
                           "Parch":"Channel", "Embarked": "Location", "Pclass":"Class"}, inplace=True)

combine[0].head(3)

,Involoved,Class,Sex,Age,SibSp,Channel,Ticket,Spending,Product,Location,Title
0,0,3,male,22.0,1,0,A/5 21171,7.2500,XX,S,Mr
1,1,1,female,38.0,1,0,PC 17599,71.2833,C,C,Mrs
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,XX,S,Miss

In [11]:
for train in combine: 
    train['SpendingCat'] = pd.cut(train['Spending'], [-0.1, 50, 100, 150, 200, 300, 1000], right=True, 
        labels=[0, 1, 2, 3, 4, 5])
    train['AgeCat'] = pd.cut(train['Age'], [-0.1, 12.1, 20, 30, 35, 40, 45, 50, 55, 65, 100], right=True, 
        labels=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
    train.drop(columns='SibSp', inplace=True)
    train.drop(columns='Ticket', inplace=True)
    
combine[0].to_csv('./data/user_train.csv')
combine[1].to_csv('./data/user_test.csv')
combine[0].head(3)

,Involoved,Class,Sex,Age,Channel,Spending,Product,Location,Title,SpendingCat,AgeCat
0,0,3,male,22.0,0,7.2500,XX,S,Mr,0,2
1,1,1,female,38.0,0,71.2833,C,C,Mrs,1,4
2,1,3,female,26.0,0,7.9250,XX,S,Miss,0,2

# Done fake the data and start to process them for the model.

In [12]:
for data in combine:
    data.drop(columns='Spending', inplace=True)
    data.drop(columns='Age', inplace=True)
    
combine[0].head(3)

   Involoved  Class     Sex  Channel Product Location Title SpendingCat AgeCat
0          0      3    male        0      XX        S    Mr           0      2
1          1      1  female        0       C        C   Mrs           1      4
2          1      3  female        0      XX        S  Miss           0      2

In [13]:

# TODO: do not use one-hot, this is not good for NN, 
# becasue the number of columns can be different between train and prodict and we cannot define the input dim for NN.
from sklearn.model_selection import train_test_split

columns = ['Involoved','Class', 'Sex', 'Channel', 'Product', 'Location', 'Title', 'SpendingCat']

data_age_cat = combine[0]['AgeCat']
data_without_age = combine[0].drop(columns='AgeCat')
data_one_hot = pd.get_dummies(data_without_age)
data_one_hot['AgeCat'] = data_age_cat

X_train, X_test, y_train, y_test = train_test_split(data_one_hot, data_age_cat, test_size=0.2, random_state=123)
y_test_origion = y_test.copy()
# To check the one-hot encoder is correct.
print("y_train")
print(y_train[:3])
print("y_test")
print(y_test[:3])
y_train = pd.get_dummies(y_train)
y_test = pd.get_dummies(y_test)
print("y_train with one-hot encoder")
print(y_train[:3])
print("y_test with one-hot encoder")
print(y_test[:3])

y_train
329    1
749    3
203    6
Name: AgeCat, dtype: category
Categories (10, int64): [0 < 1 < 2 < 3 ... 6 < 7 < 8 < 9]
y_test
172    0
524    3
452    2
Name: AgeCat, dtype: category
Categories (10, int64): [0 < 1 < 2 < 3 ... 6 < 7 < 8 < 9]
y_train with one-hot encoder
AgeCat  0  1  2  3  4  5  6  7  8  9
329     0  1  0  0  0  0  0  0  0  0
749     0  0  0  1  0  0  0  0  0  0
203     0  0  0  0  0  0  1  0  0  0
y_test with one-hot encoder
AgeCat  0  1  2  3  4  5  6  7  8  9
172     1  0  0  0  0  0  0  0  0  0
524     0  0  0  1  0  0  0  0  0  0
452     0  0  1  0  0  0  0  0  0  0

In [ ]:
import numpy as np
#from __future__ import absolute_import

from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from keras.regularizers import l2, l1

in_dim = X_train.shape[1]
model = Sequential()

model.add(Dense(1200, input_dim=in_dim, init='normal', activation='relu'))
model.add(Dropout(0.6))
model.add(Dense(2000, init='normal', activation='relu'))
model.add(Dropout(0.6))
model.add(Dense(10, init='normal', activation='sigmoid'))
model.compile(loss='categorical_crossentropy', optimizer='adam' ,metrics = ['accuracy'])
# model1.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])
model.fit(X_train, y_train, nb_epoch=60, batch_size=32)

model.save('model_and_param_50_epoch.h5')

Using TensorFlow backend.
WARNING: Logging before flag parsing goes to stderr.
W0913 14:31:48.717432 4582942144 deprecation_wrapper.py:119] From /Users/jim/anaconda3/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

/Users/jim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1200, input_dim=30, activation="relu", kernel_initializer="normal")`
  # This is added back by InteractiveShellApp.init_path()
W0913 14:31:48.742024 4582942144 deprecation_wrapper.py:119] From /Users/jim/anaconda3/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0913 14:31:48.743819 4582942144 deprecation_wrapper.py:119] From /Users/jim/anaconda3/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:4115: The name tf.random_normal is deprecated. Please use tf.random.normal instead.

W0913 14:31:48.753760 4582942144 deprecation_wrapper.py:119] From /Users/jim/anaconda3/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0913 14:31:48.759386 4582942144 deprecation.py:506] From /Users/jim/anaconda3/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
W0913 14:31:48.759912 4582942144 nn_ops.py:4224] Large dropout rate: 0.6 (>0.5). In TensorFlow 2.x, dropout() uses dropout rate instead of keep_prob. Please ensure that this is intended.
/Users/jim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(2000, activation="relu", kernel_initializer="normal")`
  del sys.path[0]
W0913 14:31:48.784883 4582942144 nn_ops.py:4224] Large dropout rate: 0.6 (>0.5). In TensorFlow 2.x, dropout() uses dropout rate instead of keep_prob. Please ensure that this is intended.
/Users/jim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(10, activation="sigmoid", kernel_initializer="normal")`
  from ipykernel import kernelapp as app
W0913 14:31:48.803872 4582942144 deprecation_wrapper.py:119] From /Users/jim/anaconda3/lib/python3.6/site-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0913 14:31:48.820755 4582942144 deprecation_wrapper.py:119] From /Users/jim/anaconda3/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3295: The name tf.log is deprecated. Please use tf.math.log instead.

/Users/jim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
W0913 14:31:48.894652 4582942144 deprecation.py:323] From /Users/jim/anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

Epoch 1/60
712/712 [==============================] - 2s 2ms/step - loss: 1.7278 - acc: 0.2949
Epoch 2/60
712/712 [==============================] - 1s 1ms/step - loss: 1.1972 - acc: 0.3020
Epoch 3/60
712/712 [==============================] - 1s 1ms/step - loss: 1.0221 - acc: 0.3174
Epoch 4/60
712/712 [==============================] - 1s 1ms/step - loss: 0.9290 - acc: 0.3750
Epoch 5/60
712/712 [==============================] - 1s 1ms/step - loss: 0.7631 - acc: 0.6096
Epoch 6/60
712/712 [==============================] - 1s 1ms/step - loss: 0.6136 - acc: 0.6404
Epoch 7/60
712/712 [==============================] - 1s 1ms/step - loss: 0.5353 - acc: 0.6601
Epoch 8/60
712/712 [==============================] - 1s 1ms/step - loss: 0.5294 - acc: 0.6657
Epoch 9/60
712/712 [==============================] - 1s 1ms/step - loss: 0.5154 - acc: 0.6756
Epoch 10/60
712/712 [==============================] - 1s 1ms/step - loss: 0.5253 - acc: 0.6728
Epoch 11/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4914 - acc: 0.6685
Epoch 12/60
712/712 [==============================] - 1s 1ms/step - loss: 0.5095 - acc: 0.6601
Epoch 13/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4586 - acc: 0.6657
Epoch 14/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4778 - acc: 0.6854
Epoch 15/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4955 - acc: 0.6826
Epoch 16/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4781 - acc: 0.6742
Epoch 17/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4693 - acc: 0.6840A: 0s - loss: 0.4957 - acc
Epoch 18/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4703 - acc: 0.6826
Epoch 19/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4550 - acc: 0.6699
Epoch 20/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4480 - acc: 0.6713
Epoch 21/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4632 - acc: 0.6756
Epoch 22/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4361 - acc: 0.6952
Epoch 23/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4697 - acc: 0.6671
Epoch 24/60
712/712 [==============================] - ETA: 0s - loss: 0.4822 - acc: 0.714 - 1s 1ms/step - loss: 0.4767 - acc: 0.7149
Epoch 25/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4463 - acc: 0.6784
Epoch 26/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4288 - acc: 0.7093
Epoch 27/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4425 - acc: 0.7008
Epoch 28/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4295 - acc: 0.7121
Epoch 29/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4470 - acc: 0.7051
Epoch 30/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4427 - acc: 0.7051
Epoch 31/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4434 - acc: 0.6938
Epoch 32/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4593 - acc: 0.7121
Epoch 33/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4750 - acc: 0.7022
Epoch 34/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4355 - acc: 0.7079
Epoch 35/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4519 - acc: 0.7163
Epoch 36/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4299 - acc: 0.7219
Epoch 37/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4566 - acc: 0.7037
Epoch 38/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4265 - acc: 0.7233
Epoch 39/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4432 - acc: 0.7037
Epoch 40/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4338 - acc: 0.7079
Epoch 41/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4433 - acc: 0.7289
Epoch 42/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4493 - acc: 0.7261
Epoch 43/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4225 - acc: 0.7191
Epoch 44/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4227 - acc: 0.7135
Epoch 45/60
712/712 [==============================] - 1s 1ms/step - loss: 0.4538 - acc: 0.7163
Epoch 46/60
480/712 [===================>..........] - ETA: 0s - loss: 0.4466 - acc: 0.7333

In [ ]:
from keras.models import load_model
model = load_model("model_and_param_50_epoch.h5")

# Test Accuracy is 0.54 - not bad.

In [ ]:
result = model.predict_classes(X_test)
rightnum = 0
for i in result:
    if result[i] == y_test_origion.values[i]:
        rightnum += 1
        
print("test accuracy: ", rightnum/result.shape[0])

# Take a look at the prediction.

In [ ]:
print("Should be: ", y_test_origion[:10].values)
print("Predicted: ", model.predict_classes(X_test[:10]))

In [ ]:
proba = model.predict_proba(X_test[:1])
print(proba)
# get the top 3
np.argpartition(proba[0], -3)[-3:]

# See the top 3 coverage - 89%

In [ ]:
prob_result = model.predict_proba(X_test)
rightnum = 0
for i in np.arange(0, prob_result.shape[0]):  # loop all predictions
    for j in np.argpartition(prob_result[i], -3)[-3:]: # loop the top 3 classes in i-th prediction
        if j == y_test_origion.values[i]:
            rightnum += 1
        
print("test accuracy: ", rightnum/result.shape[0])